jobs:
- job: linux
  displayName: '[Linux]'
  pool:
    vmImage: ubuntu-16.04
  steps:
  - checkout: self
    submodules: recursive
  - template: templates/azure-pipelines/entrypoint/pwsh/release.yml@PSRepositoryReleaseManager
    parameters:
      NAME: My release name
      NOTES_CONTENT: |
        My
        multi-line
        release
        notes
      DRAFT: false
      PRERELEASE: false
